{{#models}}{{#model}}# {{classname}}

{{#description}}{{&description}}
{{/description}}

{{^isEnum}}
## Properties

Name | Type | Description | Notes
------------ | ------------- | ------------- | -------------
{{#vars}}**{{name}}** | {{#isPrimitiveType}}**{{dataType}}**{{/isPrimitiveType}}{{^isPrimitiveType}}[**{{dataType}}**]({{complexType}}.md){{/isPrimitiveType}} | {{description}} | {{^required}}[optional] {{/required}}{{#isReadOnly}}[readonly] {{/isReadOnly}}{{#defaultValue}}[default to {{{.}}}]{{/defaultValue}}
{{/vars}}
{{#vendorExtensions.x-pp-is-container}}**result** | {{#vars}}{{#-first}}[**{{dataType}}**]({{complexType}}.md)| alias for **{{name}}** {{/-first}}{{/vars}} | {{/vendorExtensions.x-pp-is-container}}

## Links

### 1:1 Relationships
Name | Model | Linked Via
------------ | ------------- | -------------
{{!1:1 Links}}
{{#vars}}{{#vendorExtensions.x-pp-link}}**{{#lambda.snakecase}}{{{vendorExtensions.x-pp-link.model}}}{{/lambda.snakecase}}**|[**{{dataType}}**]({{model}}.md)|{{name}}{{/vendorExtensions.x-pp-link}}{{/vars}}

### Implicit Relationships
Name | Model | API | Operation | Parameter
------------ | ------------- | ------------- | ------------- | -------------
{{!implicit Links}}
{{#vendorExtensions.x-pp-link}}{{#lambda.snakecase}}{{{name}}}{{/lambda.snakecase}} | {{^isSingleValue}}List[{{/isSingleValue}}[**{{dataType}}**]({{model}}.md){{^isSingleValue}}]{{/isSingleValue}} | {{#lambda.pascalcase}}{{{tag}}}Api{{/lambda.pascalcase}} | {{{vendorExtensions.x-pp-link.operationId}}} | {{parameter.source}}->{{parameter.name}}
{{/vendorExtensions.x-pp-link}}

### Parameterized Relationships
Name | Model | API | Operation | Parameters
------------ | ------------- | ------------- | ------------- | -------------
{{#vendorExtensions.x-pp-rel}}{{#lambda.snakecase}}{{{name}}}{{/lambda.snakecase}} | {{^isSingleValue}}List[{{/isSingleValue}}[**{{dataType}}**]({{model}}.md){{^isSingleValue}}]{{/isSingleValue}} | {{#lambda.pascalcase}}{{{tag}}}Api{{/lambda.pascalcase}} | {{{operationId}}} | {{#parameters}}{{#source}}{{source}}->{{name}}{{/source}}{{^source}}{{name}}->{{name}}{{/source}}{{^-last}}, {{/-last}}{{/parameters}}
{{/vendorExtensions.x-pp-rel}}
## Example

```python
from {{modelPackage}}.{{#lambda.snakecase}}{{classname}}{{/lambda.snakecase}} import {{classname}}

# TODO update the JSON string below
json = "{}"
# create an instance of {{classname}} from a JSON string
{{#lambda.snakecase}}{{classname}}{{/lambda.snakecase}}_instance = {{classname}}.from_json(json)
# print the JSON string representation of the object
print({{classname}}.to_json())

# convert the object into a dict
{{#lambda.snakecase}}{{classname}}{{/lambda.snakecase}}_dict = {{#lambda.snakecase}}{{classname}}{{/lambda.snakecase}}_instance.to_dict()
# create an instance of {{classname}} from a dict
{{#lambda.snakecase}}{{classname}}{{/lambda.snakecase}}_from_dict = {{classname}}.from_dict({{#lambda.snakecase}}{{classname}}{{/lambda.snakecase}}_dict)
```
{{/isEnum}}
{{#isEnum}}
## Enum
{{#allowableValues}}{{#enumVars}}
* `{{name}}` (value: `{{{value}}}`)
{{/enumVars}}{{/allowableValues}}
{{/isEnum}}
{{! Custom PSI docs navigation: output links directly to API_endpoints.md and Models.md. }}
[Back to API Endpoints](../API_endpoints.md) [Back to Models](../Models.md) [[Back to README]](../README.md)

{{/model}}{{/models}}
