# coding: utf-8

"""
    PSI Rest API

    No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)  # noqa: E501

    OpenAPI spec version: v1
    Contact: todo@todo.com
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""

from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from plantscreen.swagger_client.api_client import ApiClient


class PlantApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def plant(self, ids, **kwargs):  # noqa: E501
        """Returns a list of plants by the list of plant IDs.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.plant(ids, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param list[int] ids: plantIDs (required)
        :return: JsonPlantResult
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.plant_with_http_info(ids, **kwargs)  # noqa: E501
        else:
            (data) = self.plant_with_http_info(ids, **kwargs)  # noqa: E501
            return data

    def plant_with_http_info(self, ids, **kwargs):  # noqa: E501
        """Returns a list of plants by the list of plant IDs.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.plant_with_http_info(ids, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param list[int] ids: plantIDs (required)
        :return: JsonPlantResult
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['ids']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method plant" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'ids' is set
        if ('ids' not in params or
                params['ids'] is None):
            raise ValueError("Missing the required parameter `ids` when calling `plant`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'ids' in params:
            query_params.append(('ids', params['ids']))  # noqa: E501
            collection_formats['ids'] = 'multi'  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/Plant', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='JsonPlantResult',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def plant_height_round(self, id, **kwargs):  # noqa: E501
        """Returns all plant heights measured in the round defined by ID.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.plant_height_round(id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int id: roundID (required)
        :return: JsonPlantHeightByRoundIDResult
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.plant_height_round_with_http_info(id, **kwargs)  # noqa: E501
        else:
            (data) = self.plant_height_round_with_http_info(id, **kwargs)  # noqa: E501
            return data

    def plant_height_round_with_http_info(self, id, **kwargs):  # noqa: E501
        """Returns all plant heights measured in the round defined by ID.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.plant_height_round_with_http_info(id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int id: roundID (required)
        :return: JsonPlantHeightByRoundIDResult
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method plant_height_round" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'id' is set
        if ('id' not in params or
                params['id'] is None):
            raise ValueError("Missing the required parameter `id` when calling `plant_height_round`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'id' in params:
            query_params.append(('id', params['id']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/Plant/Height/Round', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='JsonPlantHeightByRoundIDResult',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def plant_leaf(self, plant_id, tray_id, **kwargs):  # noqa: E501
        """Returns all plant leaves for the plant assigned to the tray defined by the plant and tray ID.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.plant_leaf(plant_id, tray_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int plant_id: plantID (required)
        :param int tray_id: trayID (required)
        :return: JsonPlantLeavesByPlantAndTrayIDResult
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.plant_leaf_with_http_info(plant_id, tray_id, **kwargs)  # noqa: E501
        else:
            (data) = self.plant_leaf_with_http_info(plant_id, tray_id, **kwargs)  # noqa: E501
            return data

    def plant_leaf_with_http_info(self, plant_id, tray_id, **kwargs):  # noqa: E501
        """Returns all plant leaves for the plant assigned to the tray defined by the plant and tray ID.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.plant_leaf_with_http_info(plant_id, tray_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int plant_id: plantID (required)
        :param int tray_id: trayID (required)
        :return: JsonPlantLeavesByPlantAndTrayIDResult
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['plant_id', 'tray_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method plant_leaf" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'plant_id' is set
        if ('plant_id' not in params or
                params['plant_id'] is None):
            raise ValueError("Missing the required parameter `plant_id` when calling `plant_leaf`")  # noqa: E501
        # verify the required parameter 'tray_id' is set
        if ('tray_id' not in params or
                params['tray_id'] is None):
            raise ValueError("Missing the required parameter `tray_id` when calling `plant_leaf`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'plant_id' in params:
            query_params.append(('plantId', params['plant_id']))  # noqa: E501
        if 'tray_id' in params:
            query_params.append(('trayId', params['tray_id']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/Plant/Leaf', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='JsonPlantLeavesByPlantAndTrayIDResult',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def plant_tray(self, id, **kwargs):  # noqa: E501
        """Returns list of plants which are assigned to the tray defined by ID.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.plant_tray(id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int id: trayID (required)
        :return: JsonPlantByTrayIDResult
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.plant_tray_with_http_info(id, **kwargs)  # noqa: E501
        else:
            (data) = self.plant_tray_with_http_info(id, **kwargs)  # noqa: E501
            return data

    def plant_tray_with_http_info(self, id, **kwargs):  # noqa: E501
        """Returns list of plants which are assigned to the tray defined by ID.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.plant_tray_with_http_info(id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int id: trayID (required)
        :return: JsonPlantByTrayIDResult
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method plant_tray" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'id' is set
        if ('id' not in params or
                params['id'] is None):
            raise ValueError("Missing the required parameter `id` when calling `plant_tray`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'id' in params:
            query_params.append(('id', params['id']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/Plant/Tray', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='JsonPlantByTrayIDResult',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def plant_tray_profile(self, id, **kwargs):  # noqa: E501
        """Returns plants that were assigned to the tray profile defined by tray profile ID without time limit.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.plant_tray_profile(id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int id: trayProfileID (required)
        :return: JsonPlantByTrayProfileIDResult
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.plant_tray_profile_with_http_info(id, **kwargs)  # noqa: E501
        else:
            (data) = self.plant_tray_profile_with_http_info(id, **kwargs)  # noqa: E501
            return data

    def plant_tray_profile_with_http_info(self, id, **kwargs):  # noqa: E501
        """Returns plants that were assigned to the tray profile defined by tray profile ID without time limit.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.plant_tray_profile_with_http_info(id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int id: trayProfileID (required)
        :return: JsonPlantByTrayProfileIDResult
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method plant_tray_profile" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'id' is set
        if ('id' not in params or
                params['id'] is None):
            raise ValueError("Missing the required parameter `id` when calling `plant_tray_profile`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'id' in params:
            query_params.append(('id', params['id']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/Plant/TrayProfile', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='JsonPlantByTrayProfileIDResult',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def plant_tray_profile_tray(self, id, start, stop, **kwargs):  # noqa: E501
        """Returns plants that were assigned to the tray defined by tray ID between defined times. Times is entered as the start and end time of the required interval. All plants assigned to tray between these times will be returned.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.plant_tray_profile_tray(id, start, stop, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int id: trayID (required)
        :param datetime start: dateStart (required)
        :param datetime stop: dateStop (required)
        :return: JsonPlantByTrayIDAndDatesResult
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.plant_tray_profile_tray_with_http_info(id, start, stop, **kwargs)  # noqa: E501
        else:
            (data) = self.plant_tray_profile_tray_with_http_info(id, start, stop, **kwargs)  # noqa: E501
            return data

    def plant_tray_profile_tray_with_http_info(self, id, start, stop, **kwargs):  # noqa: E501
        """Returns plants that were assigned to the tray defined by tray ID between defined times. Times is entered as the start and end time of the required interval. All plants assigned to tray between these times will be returned.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.plant_tray_profile_tray_with_http_info(id, start, stop, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int id: trayID (required)
        :param datetime start: dateStart (required)
        :param datetime stop: dateStop (required)
        :return: JsonPlantByTrayIDAndDatesResult
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['id', 'start', 'stop']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method plant_tray_profile_tray" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'id' is set
        if ('id' not in params or
                params['id'] is None):
            raise ValueError("Missing the required parameter `id` when calling `plant_tray_profile_tray`")  # noqa: E501
        # verify the required parameter 'start' is set
        if ('start' not in params or
                params['start'] is None):
            raise ValueError("Missing the required parameter `start` when calling `plant_tray_profile_tray`")  # noqa: E501
        # verify the required parameter 'stop' is set
        if ('stop' not in params or
                params['stop'] is None):
            raise ValueError("Missing the required parameter `stop` when calling `plant_tray_profile_tray`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'id' in params:
            query_params.append(('id', params['id']))  # noqa: E501
        if 'start' in params:
            query_params.append(('start', params['start']))  # noqa: E501
        if 'stop' in params:
            query_params.append(('stop', params['stop']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/Plant/TrayProfile/Tray', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='JsonPlantByTrayIDAndDatesResult',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
