# coding: utf-8

"""
    PSI Rest API

    No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)  # noqa: E501

    OpenAPI spec version: v1
    Contact: todo@todo.com
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""

from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from plantscreen.swagger_client.api_client import ApiClient


class ProbeApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def probe(self, **kwargs):  # noqa: E501
        """Returns one environment probe by probe ID. TODO: There are two versions, one with parameter (returning just a single object) and one without (returning an arry). Check how to model this  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.probe(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int id: probeID. Two versions, with and without parameter
        :return: JsonProbeByIDResult
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.probe_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.probe_with_http_info(**kwargs)  # noqa: E501
            return data

    def probe_with_http_info(self, **kwargs):  # noqa: E501
        """Returns one environment probe by probe ID. TODO: There are two versions, one with parameter (returning just a single object) and one without (returning an arry). Check how to model this  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.probe_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int id: probeID. Two versions, with and without parameter
        :return: JsonProbeByIDResult
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method probe" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'id' in params:
            query_params.append(('id', params['id']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/Probe', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='JsonProbeByIDResult',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def probe_value_date(self, start, stop, **kwargs):  # noqa: E501
        """Returns all probe values measured between times. Times is entered as the start and end time of the required interval.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.probe_value_date(start, stop, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param datetime start: dateStart (required)
        :param datetime stop: dateStop (required)
        :return: JsonProbeValueByDateResult
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.probe_value_date_with_http_info(start, stop, **kwargs)  # noqa: E501
        else:
            (data) = self.probe_value_date_with_http_info(start, stop, **kwargs)  # noqa: E501
            return data

    def probe_value_date_with_http_info(self, start, stop, **kwargs):  # noqa: E501
        """Returns all probe values measured between times. Times is entered as the start and end time of the required interval.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.probe_value_date_with_http_info(start, stop, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param datetime start: dateStart (required)
        :param datetime stop: dateStop (required)
        :return: JsonProbeValueByDateResult
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['start', 'stop']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method probe_value_date" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'start' is set
        if ('start' not in params or
                params['start'] is None):
            raise ValueError("Missing the required parameter `start` when calling `probe_value_date`")  # noqa: E501
        # verify the required parameter 'stop' is set
        if ('stop' not in params or
                params['stop'] is None):
            raise ValueError("Missing the required parameter `stop` when calling `probe_value_date`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'start' in params:
            query_params.append(('start', params['start']))  # noqa: E501
        if 'stop' in params:
            query_params.append(('stop', params['stop']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/Probe/Value/Date', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='JsonProbeValueByDateResult',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def probe_value_date_probe(self, id, start, stop, **kwargs):  # noqa: E501
        """Returns all probe values for probe defined by probe ID measured between times. Times is entered as the start and end time of the required interval.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.probe_value_date_probe(id, start, stop, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int id: probeID (required)
        :param datetime start: dateStart (required)
        :param datetime stop: dateStop (required)
        :return: JsonProbeValueByIDAndDateResult
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.probe_value_date_probe_with_http_info(id, start, stop, **kwargs)  # noqa: E501
        else:
            (data) = self.probe_value_date_probe_with_http_info(id, start, stop, **kwargs)  # noqa: E501
            return data

    def probe_value_date_probe_with_http_info(self, id, start, stop, **kwargs):  # noqa: E501
        """Returns all probe values for probe defined by probe ID measured between times. Times is entered as the start and end time of the required interval.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.probe_value_date_probe_with_http_info(id, start, stop, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int id: probeID (required)
        :param datetime start: dateStart (required)
        :param datetime stop: dateStop (required)
        :return: JsonProbeValueByIDAndDateResult
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['id', 'start', 'stop']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method probe_value_date_probe" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'id' is set
        if ('id' not in params or
                params['id'] is None):
            raise ValueError("Missing the required parameter `id` when calling `probe_value_date_probe`")  # noqa: E501
        # verify the required parameter 'start' is set
        if ('start' not in params or
                params['start'] is None):
            raise ValueError("Missing the required parameter `start` when calling `probe_value_date_probe`")  # noqa: E501
        # verify the required parameter 'stop' is set
        if ('stop' not in params or
                params['stop'] is None):
            raise ValueError("Missing the required parameter `stop` when calling `probe_value_date_probe`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'id' in params:
            query_params.append(('id', params['id']))  # noqa: E501
        if 'start' in params:
            query_params.append(('start', params['start']))  # noqa: E501
        if 'stop' in params:
            query_params.append(('stop', params['stop']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/Probe/Value/Date/Probe', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='JsonProbeValueByIDAndDateResult',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
