# coding: utf-8

"""
    PSI Rest API

    No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)  # noqa: E501

    OpenAPI spec version: v1
    Contact: todo@todo.com
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""

from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from plantscreen.swagger_client.api_client import ApiClient


class Scan3dApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def i_scan3d_imaging_extended_data(self, device_id, round_id, tray_id, **kwargs):  # noqa: E501
        """Returns 3D extended data for tray defined by tray ID, by round ID of round in which the tray was measured and by device defined by device ID. (Only available for field systems.)  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.i_scan3d_imaging_extended_data(device_id, round_id, tray_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int device_id: deviceID (required)
        :param int round_id: roundID (required)
        :param int tray_id: trayID (required)
        :return: JsonScan3dMeasureExtendedDataResult
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.i_scan3d_imaging_extended_data_with_http_info(device_id, round_id, tray_id, **kwargs)  # noqa: E501
        else:
            (data) = self.i_scan3d_imaging_extended_data_with_http_info(device_id, round_id, tray_id, **kwargs)  # noqa: E501
            return data

    def i_scan3d_imaging_extended_data_with_http_info(self, device_id, round_id, tray_id, **kwargs):  # noqa: E501
        """Returns 3D extended data for tray defined by tray ID, by round ID of round in which the tray was measured and by device defined by device ID. (Only available for field systems.)  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.i_scan3d_imaging_extended_data_with_http_info(device_id, round_id, tray_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int device_id: deviceID (required)
        :param int round_id: roundID (required)
        :param int tray_id: trayID (required)
        :return: JsonScan3dMeasureExtendedDataResult
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['device_id', 'round_id', 'tray_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method i_scan3d_imaging_extended_data" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'device_id' is set
        if ('device_id' not in params or
                params['device_id'] is None):
            raise ValueError("Missing the required parameter `device_id` when calling `i_scan3d_imaging_extended_data`")  # noqa: E501
        # verify the required parameter 'round_id' is set
        if ('round_id' not in params or
                params['round_id'] is None):
            raise ValueError("Missing the required parameter `round_id` when calling `i_scan3d_imaging_extended_data`")  # noqa: E501
        # verify the required parameter 'tray_id' is set
        if ('tray_id' not in params or
                params['tray_id'] is None):
            raise ValueError("Missing the required parameter `tray_id` when calling `i_scan3d_imaging_extended_data`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'device_id' in params:
            query_params.append(('deviceId', params['device_id']))  # noqa: E501
        if 'round_id' in params:
            query_params.append(('roundId', params['round_id']))  # noqa: E501
        if 'tray_id' in params:
            query_params.append(('trayId', params['tray_id']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/Scan3d/Imaging/ExtendedData', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='JsonScan3dMeasureExtendedDataResult',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def scan3d(self, device_id, round_id, tray_id, **kwargs):  # noqa: E501
        """Returns 3D imaging data for tray defined by tray ID, by round ID of round in which the tray was measured and by device defined by device ID.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.scan3d(device_id, round_id, tray_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int device_id: deviceID (required)
        :param int round_id: roundID (required)
        :param int tray_id: trayID (required)
        :return: JsonScan3dImagingResult
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.scan3d_with_http_info(device_id, round_id, tray_id, **kwargs)  # noqa: E501
        else:
            (data) = self.scan3d_with_http_info(device_id, round_id, tray_id, **kwargs)  # noqa: E501
            return data

    def scan3d_with_http_info(self, device_id, round_id, tray_id, **kwargs):  # noqa: E501
        """Returns 3D imaging data for tray defined by tray ID, by round ID of round in which the tray was measured and by device defined by device ID.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.scan3d_with_http_info(device_id, round_id, tray_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int device_id: deviceID (required)
        :param int round_id: roundID (required)
        :param int tray_id: trayID (required)
        :return: JsonScan3dImagingResult
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['device_id', 'round_id', 'tray_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method scan3d" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'device_id' is set
        if ('device_id' not in params or
                params['device_id'] is None):
            raise ValueError("Missing the required parameter `device_id` when calling `scan3d`")  # noqa: E501
        # verify the required parameter 'round_id' is set
        if ('round_id' not in params or
                params['round_id'] is None):
            raise ValueError("Missing the required parameter `round_id` when calling `scan3d`")  # noqa: E501
        # verify the required parameter 'tray_id' is set
        if ('tray_id' not in params or
                params['tray_id'] is None):
            raise ValueError("Missing the required parameter `tray_id` when calling `scan3d`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'device_id' in params:
            query_params.append(('deviceId', params['device_id']))  # noqa: E501
        if 'round_id' in params:
            query_params.append(('roundId', params['round_id']))  # noqa: E501
        if 'tray_id' in params:
            query_params.append(('trayId', params['tray_id']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/Scan3d/Imaging', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='JsonScan3dImagingResult',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def scan3d_analysed_model_analyse(self, id, **kwargs):  # noqa: E501
        """Returns the analyzed 3D data as a triangulated 3D model defined by analyse ID.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.scan3d_analysed_model_analyse(id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int id: analyseID (required)
        :return: JsonScan3dAnalyzedModelByAnalyseIDResult
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.scan3d_analysed_model_analyse_with_http_info(id, **kwargs)  # noqa: E501
        else:
            (data) = self.scan3d_analysed_model_analyse_with_http_info(id, **kwargs)  # noqa: E501
            return data

    def scan3d_analysed_model_analyse_with_http_info(self, id, **kwargs):  # noqa: E501
        """Returns the analyzed 3D data as a triangulated 3D model defined by analyse ID.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.scan3d_analysed_model_analyse_with_http_info(id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int id: analyseID (required)
        :return: JsonScan3dAnalyzedModelByAnalyseIDResult
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method scan3d_analysed_model_analyse" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'id' is set
        if ('id' not in params or
                params['id'] is None):
            raise ValueError("Missing the required parameter `id` when calling `scan3d_analysed_model_analyse`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'id' in params:
            query_params.append(('id', params['id']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/Scan3d/AnalyzedModel/Analyse', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='JsonScan3dAnalyzedModelByAnalyseIDResult',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def scan3d_analyzed_model(self, device_id, round_id, tray_id, **kwargs):  # noqa: E501
        """Returns the analyzed 3D data as a triangulated 3D model defined by tray ID, by round ID of round in which the tray was measured and by device defined by device ID.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.scan3d_analyzed_model(device_id, round_id, tray_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int device_id: deviceID (required)
        :param int round_id: roundID (required)
        :param int tray_id: trayID (required)
        :return: JsonScan3dAnalyzedModelResult
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.scan3d_analyzed_model_with_http_info(device_id, round_id, tray_id, **kwargs)  # noqa: E501
        else:
            (data) = self.scan3d_analyzed_model_with_http_info(device_id, round_id, tray_id, **kwargs)  # noqa: E501
            return data

    def scan3d_analyzed_model_with_http_info(self, device_id, round_id, tray_id, **kwargs):  # noqa: E501
        """Returns the analyzed 3D data as a triangulated 3D model defined by tray ID, by round ID of round in which the tray was measured and by device defined by device ID.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.scan3d_analyzed_model_with_http_info(device_id, round_id, tray_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int device_id: deviceID (required)
        :param int round_id: roundID (required)
        :param int tray_id: trayID (required)
        :return: JsonScan3dAnalyzedModelResult
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['device_id', 'round_id', 'tray_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method scan3d_analyzed_model" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'device_id' is set
        if ('device_id' not in params or
                params['device_id'] is None):
            raise ValueError("Missing the required parameter `device_id` when calling `scan3d_analyzed_model`")  # noqa: E501
        # verify the required parameter 'round_id' is set
        if ('round_id' not in params or
                params['round_id'] is None):
            raise ValueError("Missing the required parameter `round_id` when calling `scan3d_analyzed_model`")  # noqa: E501
        # verify the required parameter 'tray_id' is set
        if ('tray_id' not in params or
                params['tray_id'] is None):
            raise ValueError("Missing the required parameter `tray_id` when calling `scan3d_analyzed_model`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'device_id' in params:
            query_params.append(('deviceId', params['device_id']))  # noqa: E501
        if 'round_id' in params:
            query_params.append(('roundId', params['round_id']))  # noqa: E501
        if 'tray_id' in params:
            query_params.append(('trayId', params['tray_id']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/Scan3d/AnalyzedModel', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='JsonScan3dAnalyzedModelResult',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def scan3d_analyzed_model_measure(self, id, **kwargs):  # noqa: E501
        """Returns the analyzed 3D data as a triangulated 3D model defined by scan 3D measure ID.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.scan3d_analyzed_model_measure(id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int id: measureID (required)
        :return: JsonScan3dAnalyzedModelByMeasureIDResult
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.scan3d_analyzed_model_measure_with_http_info(id, **kwargs)  # noqa: E501
        else:
            (data) = self.scan3d_analyzed_model_measure_with_http_info(id, **kwargs)  # noqa: E501
            return data

    def scan3d_analyzed_model_measure_with_http_info(self, id, **kwargs):  # noqa: E501
        """Returns the analyzed 3D data as a triangulated 3D model defined by scan 3D measure ID.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.scan3d_analyzed_model_measure_with_http_info(id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int id: measureID (required)
        :return: JsonScan3dAnalyzedModelByMeasureIDResult
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method scan3d_analyzed_model_measure" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'id' is set
        if ('id' not in params or
                params['id'] is None):
            raise ValueError("Missing the required parameter `id` when calling `scan3d_analyzed_model_measure`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'id' in params:
            query_params.append(('id', params['id']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/Scan3d/AnalyzedModel/Measure', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='JsonScan3dAnalyzedModelByMeasureIDResult',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def scan3d_imaging_extended_data_measure(self, id, **kwargs):  # noqa: E501
        """Returns 3D imaging extended data by scan 3D measure ID. (Only available for field systems.)  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.scan3d_imaging_extended_data_measure(id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int id: measureID (required)
        :return: JsonScan3DMeasureExtendedDataByIDResult
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.scan3d_imaging_extended_data_measure_with_http_info(id, **kwargs)  # noqa: E501
        else:
            (data) = self.scan3d_imaging_extended_data_measure_with_http_info(id, **kwargs)  # noqa: E501
            return data

    def scan3d_imaging_extended_data_measure_with_http_info(self, id, **kwargs):  # noqa: E501
        """Returns 3D imaging extended data by scan 3D measure ID. (Only available for field systems.)  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.scan3d_imaging_extended_data_measure_with_http_info(id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int id: measureID (required)
        :return: JsonScan3DMeasureExtendedDataByIDResult
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method scan3d_imaging_extended_data_measure" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'id' is set
        if ('id' not in params or
                params['id'] is None):
            raise ValueError("Missing the required parameter `id` when calling `scan3d_imaging_extended_data_measure`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'id' in params:
            query_params.append(('id', params['id']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/Scan3d/Imaging/ExtendedData/Measure', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='JsonScan3DMeasureExtendedDataByIDResult',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def scan3d_imaging_measure(self, id, **kwargs):  # noqa: E501
        """Returns 3D imaging data by scan 3D measure ID.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.scan3d_imaging_measure(id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int id: measureID (required)
        :return: JsonScan3dImagingByIDResult
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.scan3d_imaging_measure_with_http_info(id, **kwargs)  # noqa: E501
        else:
            (data) = self.scan3d_imaging_measure_with_http_info(id, **kwargs)  # noqa: E501
            return data

    def scan3d_imaging_measure_with_http_info(self, id, **kwargs):  # noqa: E501
        """Returns 3D imaging data by scan 3D measure ID.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.scan3d_imaging_measure_with_http_info(id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int id: measureID (required)
        :return: JsonScan3dImagingByIDResult
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method scan3d_imaging_measure" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'id' is set
        if ('id' not in params or
                params['id'] is None):
            raise ValueError("Missing the required parameter `id` when calling `scan3d_imaging_measure`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'id' in params:
            query_params.append(('id', params['id']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/Scan3d/Imaging/Measure', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='JsonScan3dImagingByIDResult',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def scan3d_leaf_param(self, device_id, round_id, tray_id, param_id, **kwargs):  # noqa: E501
        """Returns the 3D local leaf parameter values for the parameter defined by parameter ID, by tray ID, by round ID of round in which the tray was analyzed and by device defined by device ID.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.scan3d_leaf_param(device_id, round_id, tray_id, param_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int device_id: deviceID (required)
        :param int round_id: roundID (required)
        :param int tray_id: trayID (required)
        :param int param_id: paramID (required)
        :return: JsonScan3dLeafParamResult
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.scan3d_leaf_param_with_http_info(device_id, round_id, tray_id, param_id, **kwargs)  # noqa: E501
        else:
            (data) = self.scan3d_leaf_param_with_http_info(device_id, round_id, tray_id, param_id, **kwargs)  # noqa: E501
            return data

    def scan3d_leaf_param_with_http_info(self, device_id, round_id, tray_id, param_id, **kwargs):  # noqa: E501
        """Returns the 3D local leaf parameter values for the parameter defined by parameter ID, by tray ID, by round ID of round in which the tray was analyzed and by device defined by device ID.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.scan3d_leaf_param_with_http_info(device_id, round_id, tray_id, param_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int device_id: deviceID (required)
        :param int round_id: roundID (required)
        :param int tray_id: trayID (required)
        :param int param_id: paramID (required)
        :return: JsonScan3dLeafParamResult
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['device_id', 'round_id', 'tray_id', 'param_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method scan3d_leaf_param" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'device_id' is set
        if ('device_id' not in params or
                params['device_id'] is None):
            raise ValueError("Missing the required parameter `device_id` when calling `scan3d_leaf_param`")  # noqa: E501
        # verify the required parameter 'round_id' is set
        if ('round_id' not in params or
                params['round_id'] is None):
            raise ValueError("Missing the required parameter `round_id` when calling `scan3d_leaf_param`")  # noqa: E501
        # verify the required parameter 'tray_id' is set
        if ('tray_id' not in params or
                params['tray_id'] is None):
            raise ValueError("Missing the required parameter `tray_id` when calling `scan3d_leaf_param`")  # noqa: E501
        # verify the required parameter 'param_id' is set
        if ('param_id' not in params or
                params['param_id'] is None):
            raise ValueError("Missing the required parameter `param_id` when calling `scan3d_leaf_param`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'device_id' in params:
            query_params.append(('deviceId', params['device_id']))  # noqa: E501
        if 'round_id' in params:
            query_params.append(('roundId', params['round_id']))  # noqa: E501
        if 'tray_id' in params:
            query_params.append(('trayId', params['tray_id']))  # noqa: E501
        if 'param_id' in params:
            query_params.append(('paramId', params['param_id']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/Scan3d/Leaf/Param', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='JsonScan3dLeafParamResult',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def scan3d_leaf_param_analyse(self, id, param_id, **kwargs):  # noqa: E501
        """Returns the 3D local leaf parameter values for the parameter defined by parameter ID and calculated in the analysis defined by analyse ID.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.scan3d_leaf_param_analyse(id, param_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int id: analyseID (required)
        :param int param_id: ParamID (required)
        :return: JsonScan3dLeafParamByAnalyseIDResult
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.scan3d_leaf_param_analyse_with_http_info(id, param_id, **kwargs)  # noqa: E501
        else:
            (data) = self.scan3d_leaf_param_analyse_with_http_info(id, param_id, **kwargs)  # noqa: E501
            return data

    def scan3d_leaf_param_analyse_with_http_info(self, id, param_id, **kwargs):  # noqa: E501
        """Returns the 3D local leaf parameter values for the parameter defined by parameter ID and calculated in the analysis defined by analyse ID.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.scan3d_leaf_param_analyse_with_http_info(id, param_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int id: analyseID (required)
        :param int param_id: ParamID (required)
        :return: JsonScan3dLeafParamByAnalyseIDResult
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['id', 'param_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method scan3d_leaf_param_analyse" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'id' is set
        if ('id' not in params or
                params['id'] is None):
            raise ValueError("Missing the required parameter `id` when calling `scan3d_leaf_param_analyse`")  # noqa: E501
        # verify the required parameter 'param_id' is set
        if ('param_id' not in params or
                params['param_id'] is None):
            raise ValueError("Missing the required parameter `param_id` when calling `scan3d_leaf_param_analyse`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'id' in params:
            query_params.append(('id', params['id']))  # noqa: E501
        if 'param_id' in params:
            query_params.append(('paramId', params['param_id']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/Scan3d/Leaf/Param/Analyse', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='JsonScan3dLeafParamByAnalyseIDResult',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def scan3d_param(self, id, **kwargs):  # noqa: E501
        """Returns one 3D parameter by parameter ID.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.scan3d_param(id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int id: paramID (required)
        :return: JsonScan3dParamResult
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.scan3d_param_with_http_info(id, **kwargs)  # noqa: E501
        else:
            (data) = self.scan3d_param_with_http_info(id, **kwargs)  # noqa: E501
            return data

    def scan3d_param_with_http_info(self, id, **kwargs):  # noqa: E501
        """Returns one 3D parameter by parameter ID.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.scan3d_param_with_http_info(id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int id: paramID (required)
        :return: JsonScan3dParamResult
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method scan3d_param" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'id' is set
        if ('id' not in params or
                params['id'] is None):
            raise ValueError("Missing the required parameter `id` when calling `scan3d_param`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'id' in params:
            query_params.append(('id', params['id']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/Scan3d/Param', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='JsonScan3dParamResult',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def scan3d_param_used(self, device_id, round_id, tray_id, **kwargs):  # noqa: E501
        """Returns the 3D plant and leaf parameters used in the analysis by tray ID, by round ID of round in which the tray was analyzed and by device defined by device ID.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.scan3d_param_used(device_id, round_id, tray_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int device_id: deviceID (required)
        :param int round_id: roundID (required)
        :param int tray_id: trayID (required)
        :return: JsonScan3dUsedParamResult
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.scan3d_param_used_with_http_info(device_id, round_id, tray_id, **kwargs)  # noqa: E501
        else:
            (data) = self.scan3d_param_used_with_http_info(device_id, round_id, tray_id, **kwargs)  # noqa: E501
            return data

    def scan3d_param_used_with_http_info(self, device_id, round_id, tray_id, **kwargs):  # noqa: E501
        """Returns the 3D plant and leaf parameters used in the analysis by tray ID, by round ID of round in which the tray was analyzed and by device defined by device ID.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.scan3d_param_used_with_http_info(device_id, round_id, tray_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int device_id: deviceID (required)
        :param int round_id: roundID (required)
        :param int tray_id: trayID (required)
        :return: JsonScan3dUsedParamResult
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['device_id', 'round_id', 'tray_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method scan3d_param_used" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'device_id' is set
        if ('device_id' not in params or
                params['device_id'] is None):
            raise ValueError("Missing the required parameter `device_id` when calling `scan3d_param_used`")  # noqa: E501
        # verify the required parameter 'round_id' is set
        if ('round_id' not in params or
                params['round_id'] is None):
            raise ValueError("Missing the required parameter `round_id` when calling `scan3d_param_used`")  # noqa: E501
        # verify the required parameter 'tray_id' is set
        if ('tray_id' not in params or
                params['tray_id'] is None):
            raise ValueError("Missing the required parameter `tray_id` when calling `scan3d_param_used`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'device_id' in params:
            query_params.append(('deviceId', params['device_id']))  # noqa: E501
        if 'round_id' in params:
            query_params.append(('roundId', params['round_id']))  # noqa: E501
        if 'tray_id' in params:
            query_params.append(('trayId', params['tray_id']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/Scan3d/Param/Used', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='JsonScan3dUsedParamResult',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def scan3d_param_used_analyse(self, id, **kwargs):  # noqa: E501
        """Returns the 3D plant and leaf parameters used in the analysis defined by analyse ID.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.scan3d_param_used_analyse(id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int id: analyseID (required)
        :return: JsonScan3dUsedParamByAnalyseIDResult
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.scan3d_param_used_analyse_with_http_info(id, **kwargs)  # noqa: E501
        else:
            (data) = self.scan3d_param_used_analyse_with_http_info(id, **kwargs)  # noqa: E501
            return data

    def scan3d_param_used_analyse_with_http_info(self, id, **kwargs):  # noqa: E501
        """Returns the 3D plant and leaf parameters used in the analysis defined by analyse ID.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.scan3d_param_used_analyse_with_http_info(id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int id: analyseID (required)
        :return: JsonScan3dUsedParamByAnalyseIDResult
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method scan3d_param_used_analyse" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'id' is set
        if ('id' not in params or
                params['id'] is None):
            raise ValueError("Missing the required parameter `id` when calling `scan3d_param_used_analyse`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'id' in params:
            query_params.append(('id', params['id']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/Scan3d/Param/Used/Analyse', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='JsonScan3dUsedParamByAnalyseIDResult',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def scan3d_plant_param(self, device_id, round_id, tray_id, param_id, **kwargs):  # noqa: E501
        """Returns the 3D plant parameter values for the parameter defined by parameter ID, by tray ID, by round ID of round in which the tray was analyzed and by device defined by device ID.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.scan3d_plant_param(device_id, round_id, tray_id, param_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int device_id: deviceID (required)
        :param int round_id: roundID (required)
        :param int tray_id: trayID (required)
        :param int param_id: paramID (required)
        :return: JsonScan3dPlantParamResult
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.scan3d_plant_param_with_http_info(device_id, round_id, tray_id, param_id, **kwargs)  # noqa: E501
        else:
            (data) = self.scan3d_plant_param_with_http_info(device_id, round_id, tray_id, param_id, **kwargs)  # noqa: E501
            return data

    def scan3d_plant_param_with_http_info(self, device_id, round_id, tray_id, param_id, **kwargs):  # noqa: E501
        """Returns the 3D plant parameter values for the parameter defined by parameter ID, by tray ID, by round ID of round in which the tray was analyzed and by device defined by device ID.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.scan3d_plant_param_with_http_info(device_id, round_id, tray_id, param_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int device_id: deviceID (required)
        :param int round_id: roundID (required)
        :param int tray_id: trayID (required)
        :param int param_id: paramID (required)
        :return: JsonScan3dPlantParamResult
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['device_id', 'round_id', 'tray_id', 'param_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method scan3d_plant_param" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'device_id' is set
        if ('device_id' not in params or
                params['device_id'] is None):
            raise ValueError("Missing the required parameter `device_id` when calling `scan3d_plant_param`")  # noqa: E501
        # verify the required parameter 'round_id' is set
        if ('round_id' not in params or
                params['round_id'] is None):
            raise ValueError("Missing the required parameter `round_id` when calling `scan3d_plant_param`")  # noqa: E501
        # verify the required parameter 'tray_id' is set
        if ('tray_id' not in params or
                params['tray_id'] is None):
            raise ValueError("Missing the required parameter `tray_id` when calling `scan3d_plant_param`")  # noqa: E501
        # verify the required parameter 'param_id' is set
        if ('param_id' not in params or
                params['param_id'] is None):
            raise ValueError("Missing the required parameter `param_id` when calling `scan3d_plant_param`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'device_id' in params:
            query_params.append(('deviceId', params['device_id']))  # noqa: E501
        if 'round_id' in params:
            query_params.append(('roundId', params['round_id']))  # noqa: E501
        if 'tray_id' in params:
            query_params.append(('trayId', params['tray_id']))  # noqa: E501
        if 'param_id' in params:
            query_params.append(('paramId', params['param_id']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/Scan3d/Plant/Param', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='JsonScan3dPlantParamResult',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def scan3d_plant_param_analyse(self, id, param_id, **kwargs):  # noqa: E501
        """Returns the 3D plant parameter values for the parameter defined by parameter ID and calculated in the analysis defined by analyse ID.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.scan3d_plant_param_analyse(id, param_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int id: analyseID (required)
        :param int param_id: ParamID (required)
        :return: JsonScan3dPlantParamByAnalyseIDResult
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.scan3d_plant_param_analyse_with_http_info(id, param_id, **kwargs)  # noqa: E501
        else:
            (data) = self.scan3d_plant_param_analyse_with_http_info(id, param_id, **kwargs)  # noqa: E501
            return data

    def scan3d_plant_param_analyse_with_http_info(self, id, param_id, **kwargs):  # noqa: E501
        """Returns the 3D plant parameter values for the parameter defined by parameter ID and calculated in the analysis defined by analyse ID.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.scan3d_plant_param_analyse_with_http_info(id, param_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int id: analyseID (required)
        :param int param_id: ParamID (required)
        :return: JsonScan3dPlantParamByAnalyseIDResult
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['id', 'param_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method scan3d_plant_param_analyse" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'id' is set
        if ('id' not in params or
                params['id'] is None):
            raise ValueError("Missing the required parameter `id` when calling `scan3d_plant_param_analyse`")  # noqa: E501
        # verify the required parameter 'param_id' is set
        if ('param_id' not in params or
                params['param_id'] is None):
            raise ValueError("Missing the required parameter `param_id` when calling `scan3d_plant_param_analyse`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'id' in params:
            query_params.append(('id', params['id']))  # noqa: E501
        if 'param_id' in params:
            query_params.append(('paramId', params['param_id']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/Scan3d/Plant/Param/Analyse', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='JsonScan3dPlantParamByAnalyseIDResult',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
