# coding: utf-8

"""
    PSI Rest API

    No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)  # noqa: E501

    OpenAPI spec version: v1
    Contact: todo@todo.com
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""

from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from plantscreen.swagger_client.api_client import ApiClient


class SystemLogApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def get_system_log_date_log_tag(self, tag, start, stop, **kwargs):  # noqa: E501
        """Returns important events as system logs by log tag between defined times. Times is entered as the start and end time of the required interval.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_system_log_date_log_tag(tag, start, stop, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int tag: tag (required)
        :param datetime start: dateStart (required)
        :param datetime stop: dateStop (required)
        :return: JsonSystemLogByLogTagAndDateResult
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_system_log_date_log_tag_with_http_info(tag, start, stop, **kwargs)  # noqa: E501
        else:
            (data) = self.get_system_log_date_log_tag_with_http_info(tag, start, stop, **kwargs)  # noqa: E501
            return data

    def get_system_log_date_log_tag_with_http_info(self, tag, start, stop, **kwargs):  # noqa: E501
        """Returns important events as system logs by log tag between defined times. Times is entered as the start and end time of the required interval.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_system_log_date_log_tag_with_http_info(tag, start, stop, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int tag: tag (required)
        :param datetime start: dateStart (required)
        :param datetime stop: dateStop (required)
        :return: JsonSystemLogByLogTagAndDateResult
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['tag', 'start', 'stop']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_system_log_date_log_tag" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'tag' is set
        if ('tag' not in params or
                params['tag'] is None):
            raise ValueError("Missing the required parameter `tag` when calling `get_system_log_date_log_tag`")  # noqa: E501
        # verify the required parameter 'start' is set
        if ('start' not in params or
                params['start'] is None):
            raise ValueError("Missing the required parameter `start` when calling `get_system_log_date_log_tag`")  # noqa: E501
        # verify the required parameter 'stop' is set
        if ('stop' not in params or
                params['stop'] is None):
            raise ValueError("Missing the required parameter `stop` when calling `get_system_log_date_log_tag`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'tag' in params:
            query_params.append(('tag', params['tag']))  # noqa: E501
        if 'start' in params:
            query_params.append(('start', params['start']))  # noqa: E501
        if 'stop' in params:
            query_params.append(('stop', params['stop']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/SystemLog/Date/LogTag', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='JsonSystemLogByLogTagAndDateResult',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_system_log_date_log_type(self, type, start, stop, **kwargs):  # noqa: E501
        """Returns important events as system logs by log type between defined times. Times is entered as the start and end time of the required interval.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_system_log_date_log_type(type, start, stop, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int type: type (required)
        :param datetime start: dateStart (required)
        :param datetime stop: dateStop (required)
        :return: JsonSystemLogByLogTypeAndDateResult
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_system_log_date_log_type_with_http_info(type, start, stop, **kwargs)  # noqa: E501
        else:
            (data) = self.get_system_log_date_log_type_with_http_info(type, start, stop, **kwargs)  # noqa: E501
            return data

    def get_system_log_date_log_type_with_http_info(self, type, start, stop, **kwargs):  # noqa: E501
        """Returns important events as system logs by log type between defined times. Times is entered as the start and end time of the required interval.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_system_log_date_log_type_with_http_info(type, start, stop, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int type: type (required)
        :param datetime start: dateStart (required)
        :param datetime stop: dateStop (required)
        :return: JsonSystemLogByLogTypeAndDateResult
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['type', 'start', 'stop']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_system_log_date_log_type" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'type' is set
        if ('type' not in params or
                params['type'] is None):
            raise ValueError("Missing the required parameter `type` when calling `get_system_log_date_log_type`")  # noqa: E501
        # verify the required parameter 'start' is set
        if ('start' not in params or
                params['start'] is None):
            raise ValueError("Missing the required parameter `start` when calling `get_system_log_date_log_type`")  # noqa: E501
        # verify the required parameter 'stop' is set
        if ('stop' not in params or
                params['stop'] is None):
            raise ValueError("Missing the required parameter `stop` when calling `get_system_log_date_log_type`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'type' in params:
            query_params.append(('type', params['type']))  # noqa: E501
        if 'start' in params:
            query_params.append(('start', params['start']))  # noqa: E501
        if 'stop' in params:
            query_params.append(('stop', params['stop']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/SystemLog/Date/LogType', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='JsonSystemLogByLogTypeAndDateResult',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_system_log_date_round(self, id, start, stop, **kwargs):  # noqa: E501
        """Returns important events as system logs by round ID between defined times. Times is entered as the start and end time of the required interval. System logs are only optionally assigned to the round.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_system_log_date_round(id, start, stop, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int id: roundID (required)
        :param datetime start: dateStart (required)
        :param datetime stop: dateStop (required)
        :return: JsonSystemLogByRoundIDAndDateResult
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_system_log_date_round_with_http_info(id, start, stop, **kwargs)  # noqa: E501
        else:
            (data) = self.get_system_log_date_round_with_http_info(id, start, stop, **kwargs)  # noqa: E501
            return data

    def get_system_log_date_round_with_http_info(self, id, start, stop, **kwargs):  # noqa: E501
        """Returns important events as system logs by round ID between defined times. Times is entered as the start and end time of the required interval. System logs are only optionally assigned to the round.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_system_log_date_round_with_http_info(id, start, stop, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int id: roundID (required)
        :param datetime start: dateStart (required)
        :param datetime stop: dateStop (required)
        :return: JsonSystemLogByRoundIDAndDateResult
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['id', 'start', 'stop']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_system_log_date_round" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'id' is set
        if ('id' not in params or
                params['id'] is None):
            raise ValueError("Missing the required parameter `id` when calling `get_system_log_date_round`")  # noqa: E501
        # verify the required parameter 'start' is set
        if ('start' not in params or
                params['start'] is None):
            raise ValueError("Missing the required parameter `start` when calling `get_system_log_date_round`")  # noqa: E501
        # verify the required parameter 'stop' is set
        if ('stop' not in params or
                params['stop'] is None):
            raise ValueError("Missing the required parameter `stop` when calling `get_system_log_date_round`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'id' in params:
            query_params.append(('id', params['id']))  # noqa: E501
        if 'start' in params:
            query_params.append(('start', params['start']))  # noqa: E501
        if 'stop' in params:
            query_params.append(('stop', params['stop']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/SystemLog/Date/Round', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='JsonSystemLogByRoundIDAndDateResult',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_system_log_date_tray(self, id, start, stop, **kwargs):  # noqa: E501
        """Returns important events as system logs by tray ID between defined times. Times is entered as the start and end time of the required interval. System logs are only optionally assigned to the tray.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_system_log_date_tray(id, start, stop, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int id: trayID (required)
        :param datetime start: dateStart (required)
        :param datetime stop: dateStop (required)
        :return: JsonSystemLogByTrayIDAndDateResult
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_system_log_date_tray_with_http_info(id, start, stop, **kwargs)  # noqa: E501
        else:
            (data) = self.get_system_log_date_tray_with_http_info(id, start, stop, **kwargs)  # noqa: E501
            return data

    def get_system_log_date_tray_with_http_info(self, id, start, stop, **kwargs):  # noqa: E501
        """Returns important events as system logs by tray ID between defined times. Times is entered as the start and end time of the required interval. System logs are only optionally assigned to the tray.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_system_log_date_tray_with_http_info(id, start, stop, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int id: trayID (required)
        :param datetime start: dateStart (required)
        :param datetime stop: dateStop (required)
        :return: JsonSystemLogByTrayIDAndDateResult
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['id', 'start', 'stop']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_system_log_date_tray" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'id' is set
        if ('id' not in params or
                params['id'] is None):
            raise ValueError("Missing the required parameter `id` when calling `get_system_log_date_tray`")  # noqa: E501
        # verify the required parameter 'start' is set
        if ('start' not in params or
                params['start'] is None):
            raise ValueError("Missing the required parameter `start` when calling `get_system_log_date_tray`")  # noqa: E501
        # verify the required parameter 'stop' is set
        if ('stop' not in params or
                params['stop'] is None):
            raise ValueError("Missing the required parameter `stop` when calling `get_system_log_date_tray`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'id' in params:
            query_params.append(('id', params['id']))  # noqa: E501
        if 'start' in params:
            query_params.append(('start', params['start']))  # noqa: E501
        if 'stop' in params:
            query_params.append(('stop', params['stop']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/SystemLog/Date/Tray', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='JsonSystemLogByTrayIDAndDateResult',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_system_log_log_tag(self, **kwargs):  # noqa: E501
        """Returns a list of all used system log tag.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_system_log_log_tag(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :return: JsonSystemLogTagResult
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_system_log_log_tag_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.get_system_log_log_tag_with_http_info(**kwargs)  # noqa: E501
            return data

    def get_system_log_log_tag_with_http_info(self, **kwargs):  # noqa: E501
        """Returns a list of all used system log tag.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_system_log_log_tag_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :return: JsonSystemLogTagResult
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = []  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_system_log_log_tag" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/SystemLog/LogTag', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='JsonSystemLogTagResult',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_system_log_log_type(self, **kwargs):  # noqa: E501
        """Returns a list of all used system log types.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_system_log_log_type(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :return: JsonSystemLogTypeResult
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_system_log_log_type_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.get_system_log_log_type_with_http_info(**kwargs)  # noqa: E501
            return data

    def get_system_log_log_type_with_http_info(self, **kwargs):  # noqa: E501
        """Returns a list of all used system log types.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_system_log_log_type_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :return: JsonSystemLogTypeResult
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = []  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_system_log_log_type" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/SystemLog/LogType', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='JsonSystemLogTypeResult',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_system_log_round(self, id, **kwargs):  # noqa: E501
        """Returns important events as system logs by round ID. System logs are only optionally assigned to the round.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_system_log_round(id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int id: roundID (required)
        :return: JsonSystemLogByRoundIDResult
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_system_log_round_with_http_info(id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_system_log_round_with_http_info(id, **kwargs)  # noqa: E501
            return data

    def get_system_log_round_with_http_info(self, id, **kwargs):  # noqa: E501
        """Returns important events as system logs by round ID. System logs are only optionally assigned to the round.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_system_log_round_with_http_info(id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int id: roundID (required)
        :return: JsonSystemLogByRoundIDResult
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_system_log_round" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'id' is set
        if ('id' not in params or
                params['id'] is None):
            raise ValueError("Missing the required parameter `id` when calling `get_system_log_round`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'id' in params:
            query_params.append(('id', params['id']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/SystemLog/Round', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='JsonSystemLogByRoundIDResult',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_system_log_tray(self, id, **kwargs):  # noqa: E501
        """Returns important events as system logs by tray ID. System logs are only optionally assigned to the tray.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_system_log_tray(id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int id: trayID (required)
        :return: JsonSystemLogByTrayIDResult
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_system_log_tray_with_http_info(id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_system_log_tray_with_http_info(id, **kwargs)  # noqa: E501
            return data

    def get_system_log_tray_with_http_info(self, id, **kwargs):  # noqa: E501
        """Returns important events as system logs by tray ID. System logs are only optionally assigned to the tray.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_system_log_tray_with_http_info(id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int id: trayID (required)
        :return: JsonSystemLogByTrayIDResult
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_system_log_tray" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'id' is set
        if ('id' not in params or
                params['id'] is None):
            raise ValueError("Missing the required parameter `id` when calling `get_system_log_tray`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'id' in params:
            query_params.append(('id', params['id']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/SystemLog/Tray', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='JsonSystemLogByTrayIDResult',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
